bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
.idea
/ELearn/Migrations/
/ELearn/app.db-shm
/ELearn/app.db-wal
ELearn/app.db
/ELearn/ClientApp/node_modules/*
/ELearn/ClientApp/node_modules/
/ELearn/ClientApp/.env
*.DS_Store
*.env
/ELearn/app.db
/ELearn/ClientApp/.eslintcache