$size: 275px;
.card-carousel {
    display: flex;
    .arrow {
        align-self: center; 
        z-index: 10;
    }
    .window {
        width: 4 * $size;
        overflow: hidden;
        padding: 5px 0;
        .content{
            display: flex;
            transition: transform 0.4s ease-out;
        }
        .item {
            margin: 0 10px;
            min-width: $size - 20;
            max-width: $size - 20;
            height: auto;
        }
    }
    @media (max-width: 1200px) {
        .window {
            width: 3 * $size;
        }
    }
    @media (max-width: 940px) {
        .window {
            width: 2 * $size;
        }
    }
    @media (max-width: $tablet) {
        .arrow {
            display: none;
        }
        .window {
            width: 100%;
            padding: 0 20px;
            .content {
                flex-direction: column;
                align-items: center;
            }
            .item {
                margin: 10px 0;
                width: 100%;
                height: auto;
                max-width: 450px;
            }
        }
    }
}