.footer {
    padding: 5px 25px;
    width: 100%;
    height: $footer_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    background-color: $color_1;
    .copyright {
        color: white;
        font-size: 1em;
    }
    .second {
        .icon {
            margin: 0 8px;
            font-size: 1.8em;
            color: white;
            transition: 0.4s color;
            &:hover {
                color: $color_2;
            }
        }
    }
    @media (max-width: $small-screen) {
        font-size: 18px;
    }
    @media (max-width: $mobile) {
        font-size: 16px;
        padding: 5px 10px;
    }
}