
.home {
    padding-bottom: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        max-width: $large-screen;
        display: flex;
        flex-direction: column;
        align-items: center;
        .course-list {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .title {
                text-align: left;
                font-size: 32px;
                font-weight: 600;
                margin: 20px 0 20px 65px;
            }
        }
    }
    @media (max-width: $mobile) {
        .container {
            .course-list {
                .title {
                    font-size: 26px;
                    margin: 20px 0 15px 30px;
                }
            }
        }
    }
    
}