
.navbar {
    position: relative;
    max-width: 100vw;
    overflow-y: visible;
    display: flex;
    justify-content: space-between;
    height: $navbar_height;
    padding: 10px 20px;
    background-color: $color_1;
    font-size: 16px;
    svg {
        color: white;
        font-size: 1.8em;
    }
    h2, p {
        color: white;
    }
    .input_box {
        position: relative;
        max-width: 400px;
    }
    .search_icon {
        position: absolute;
        top: 7px;
        left: 17px;
        max-width: 400px;
        font-size: 26px;
    }
    input {
        background-color: transparent;
        color: white;
        margin-left: 10px;
        max-width: 400px;
        width: 100%;
        border: 2px solid white;
        border-radius: 5px;
        height: 40px;
        padding: 8px 8px 8px 40px;
        font-size: 0.9em;
    }
    .browse-container {
        position: relative;
        p {
            cursor: pointer;
        }
    }
    .nav_1 {
        
        display: flex;
        align-items: center;
        font-size: 1.2em;
        p {
            cursor: pointer;
            font-size: 1.2em;
            margin: 0 15px;
            &:hover {
                color: #00ff84;
            }
        }
        h2 {
            margin-right: 20px;
            white-space: nowrap;
        }
    }
    .nav_2 {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        p {
            cursor: pointer;
            font-size: 1.2em;
            margin: 0 15px;
            &:hover {
                color: #00ff84;
            }
        }
        .left {
            margin-left: 10px;
        }
        a {
            font-size: 1em;
            margin: 0 8px;
            color: white;
        }
        p {
            white-space: nowrap;
            margin: 0;
            font-size: 1em;
        }
        .notifications {
            cursor: pointer;
        }
        .notifications:hover {
            color: $color_2;
        }
        .avatar-container {
            padding-left: 20px;
            border-left: 1px solid #e7e7e7;
        }
    }
    &.mobile {
        align-items: center;
        svg {
            cursor: pointer;
        }
        .more {
            display: none;
            min-height: 100vh;
            padding: 10px;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 100%;
            z-index: 101;
            width: 100%;
            background-color: white;
            left: 0;
            font-size: 22px;
            > *, .row a{
                padding: 10px 0 10px 5px;
                width: 100%;
            }
            p {
                margin: 0;
                color: $color_1;
                &:hover {
                    color: $color_1;
                }
            }
            .row {
                padding: 0;
                display: flex;
                flex-direction: column;
            }
            .input_box {
                padding-left: 0;
                max-width: none;
                display: flex;
                .search_icon {
                    top: 17px;
                    left: 10px;
                    color: $color_1;
                }
                input {
                    margin-left: 0;
                    color: $color_1;
                    height: 40px;
                    border: 2px solid $color_1;
                    max-width: none;
                }
            }
            .top {
                border-top: 1px solid black;
            }
            .bot {
                border-bottom: 1px solid black;
            }
            
            &.active {
                display: flex;
            }
        }
    }
    &.desktop {
        @media (max-width: 980px) {
            font-size: 14px;
        }

        @media (max-width: $tablet) {
            font-size: 12px;
        }

        @media (max-width: 600px) {
            .nav_1 {
                .input_box {
                    display: none;
                }
            }
        }

        @media (max-width: $mobile) {
            font-size: 11px;
            .nav_1 {
                h2 {
                    margin-right: 5px;
                }
            }
            .nav_2 {
                p {
                    margin-left: 10px;
                }
            }
        }
    }
}
