
.navbar {
    display: flex;
    justify-content: space-between;
    height: $navbar_height;
    padding: 10px 20px;
    background-color: $color_1;
    font-size: 16px;
    svg {
        color: white;
        font-size: 1.8em;
    }
    h2, p {
        color: white;
    }
    p {
        cursor: pointer;
        font-size: 1.2em;
        margin: 0 15px;
    }
    p:hover {
        color: #00ff84;
    }
    .nav_1 {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        h2 {
            margin-right: 20px;
            white-space: nowrap;
        }
        .input_box {
            position: relative;
            max-width: 400px;
        }
        .search_icon {
            position: absolute;
            top: 7px;
            left: 17px;
            max-width: 400px;
            font-size: 26px;
        }
        input {
            background-color: transparent;
            color: white;
            margin-left: 10px;
            max-width: 400px;
            width: 100%;
            border: 2px solid white;
            border-radius: 5px;
            height: 40px;
            padding: 8px 8px 8px 40px;
            font-size: 0.9em;
        }
    }
    .nav_2 {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        .left {
            margin-left: 50px;
        }
        a {
            font-size: 1em;
            margin: 0 8px;
            color: white;
        }
        p {
            margin: 0;
            font-size: 1em;
        }
        .notifications {
            cursor: pointer;
        }
        .notifications:hover {
            color: $color_2;
        }
    }
    @media (max-width: 870px) {
        font-size: 14px;
    }

    @media (max-width: $tablet) {
        font-size: 12px;
    }

    @media (max-width: 600px) {
        .nav_1 {
            .input_box {
                display: none;
            }
        }
    }
    
    @media (max-width: $mobile) {
        font-size: 11px;
        .nav_1 {
            h2 {
                margin-right: 5px;
            }
        }
        .nav_2 {
            p {
                margin-left: 10px;
            }
        }
    }
    
}
