// Breakpoints
$mobile: 480px;
$tablet: 768px;
$small-screen: 1024px;
$large-screen: 1200px;

// Colors
$color_1:#002333;
$color_2:#00FF84;
$color_3: #3722D3;
$color_4: #dcdee1;
$background_color: #F4F4F4;

// Sizes
$navbar_height: 80px;
$footer_height: 90px;